<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="">Recipes</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="profile">Profile</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="review">Reviews</a>
        </li>
        <li>
          <a class="nav-link" href="ingredients">Ingredients</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 ms-auto" (ngSubmit)="loggedIn? logout() : login()">
        <ul class="navbar-nav ml-auto">
          <li *ngIf="loggedIn==false" class="nav-item active">
            <input class="form-control" id="userId" name="userId" placeholder="Enter ID" [(ngModel)]="userId">
          </li>
          <li *ngIf="loggedIn==false" class="nav-item active">
            <input class="form-control mr-sm-2" id="password" name="password" placeholder="no passwords" disabled="disabled">
          </li>
          <li class="nav-item active">
            <button class="btn my-2 my-sm-0" [ngClass]="{'btn-outline-success': !loggedIn, 'btn-outline-danger': loggedIn}" type="submit">{{loggedIn? 'logout': 'login'}}</button>
          </li>
        </ul>        
      </form>
    </div>
  </nav>