<h1>List of Ingredients for Recipe </h1>

<div>
    <div *ngFor="let ingredient of ingredients; let i = index" [ngClass]="check[i] ? 'selected' : 'unselected'" class = "toggle" (click)="onToggleSelect(i)">
        <h3> {{ingredient.name}} : {{ingredient.unit}}  <button (click)="onRemove(ingredient)">Remove</button></h3> 
    </div>
</div>

<button type="button" class="btn" (click)="onAlert"></button>

<form action="" (ngSubmit)="onSelectedRemove()">
    <div class="form-control">
        <label for="name">Name: </label>
        <input type="text" name="text" id="text" [(ngModel)]="text" placeholder="Ingredient" />
    </div>
    <div class="form-control">
        <label for="unit">Amount: </label>
        <input type="text" name="unit" id="unit" [(ngModel)]="unit" placeholder="Units" />
    </div>
</form>

<!-- THIS IS FOR ADDING INGREDIENTS, DONT KNOW IF THIS WAS NEEDED
<form action="" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="name">Name: </label>
        <input type="text" name="text" id="text" [(ngModel)]="text" placeholder="Ingredient" />
    </div>
    <div class="form-control">
        <label for="unit">Amount: </label>
        <input type="text" name="unit" id="unit" [(ngModel)]="unit" placeholder="Units" />
    </div>
</form>

-->